
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
 height: 100vh;
 background-color: pink;
 width: 100vw;
}

.contenedor{
    height: 100%;
    width: 100%;
    display: flex;
    
}

main{
height: 100%;
width: 60%;
background-color: aliceblue;
padding: 20px;
}

aside{
    height: 100%;
    width: 40%;
    background-color: blue;
    padding: 20px;
}